<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="Server" type="FileProcessSync.HttpService, HttpService" />
	</configSections>
	<Server>
		<server baseUrl=""></server>
		<Directory desc="dir下面的节点可以是match和exclude，分别为匹配项和排除项，并且排除项优先于匹配项，如果同时满足会被排除。匹配为正则表达式，如果是无效的正则表达式，该项会被忽略。">
			<dir name="bin" includeSubDir="true" path="D:\Work\Server_Chaosmos\Bin\" baseUrl="http://192.168.0.82:7550">
				<match>.*\.dll</match>
				<match>.*\.pdb</match>
				<match>.*\.so</match>
				<match>.*\.config</match>
				<match>.*\.Config</match>
				<match>.*\.json</match>
				<exclude>App.config</exclude>
			</dir>
			<dir name="xml" includeSubDir="false" path="D:\Work\Server_Chaosmos\Excel\xml\" baseUrl="http://192.168.0.82:7550">
				<match>.*\.xml</match>
			</dir>
		</Directory>
	</Server>
</configuration>