<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="Server" type="FileProcessSync.HttpService, HttpService" />
	</configSections>
	<Server>
		<server id="1" name="乐亚米服务器" pidfile="syncserver.pid"></server>
		<http host="0.0.0.0" port="7550"></http>
		<Directory desc="dir下面的节点可以是match和exclude，分别为匹配项和排除项，并且排除项优先于匹配项，如果同时满足会被排除。匹配为正则表达式，如果是无效的正则表达式，该项会被忽略。">
			<dir name="bin" includeSubDir="true" path="D:\Project\Dotnet\FileProcessSync\test\">
				<match>.*\.dll</match>
				<match>.*\.pdb</match>
			</dir>
			<dir name="xml" includeSubDir="false" path="D:\Work\Server_Chaosmos\Excel\xml\">
				<match>.*\.xml</match>
			</dir>
		</Directory>
		<Commands>
			<cmd name="start" file="" args=""  workdir=""></cmd>
			<cmd name="stop" file="" args="" workdir=""></cmd>
		</Commands>
	</Server>
</configuration>